
.flex-box{
    display:flex !important;
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.course-table th,
.course-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
footer a {
    color: white; 
    background-color: #3498db; 
  }
  .social-icons img {
    width: 30px;
    height: 30px;
  }